n8n/reservation-notification.json
{
  "name": "오늘 예약 알림톡 발송",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 1 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "매일 01:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.219.187:8080/send-all-notifications",
        "options": {
          "timeout": 60000
        }
      },
      "id": "http-send-all",
      "name": "전체 알림톡 발송",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [470, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://192.168.219.187:8080/bookings/today",
        "options": {
          "timeout": 30000
        }
      },
      "id": "http-get-bookings",
      "name": "오늘 예약 조회",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [690, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://schedule.mysterydam.com/api/casting/reservations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer schedule-reservation-key-2026"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ date: $json.date, bookings: $json.bookings }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "http-schedule-api",
      "name": "캘린더 예약 등록",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [910, 300]
    }
  ],
  "connections": {
    "매일 01:00": {
      "main": [
        [
          {
            "node": "전체 알림톡 발송",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "전체 알림톡 발송": {
      "main": [
        [
          {
            "node": "오늘 예약 조회",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "오늘 예약 조회": {
      "main": [
        [
          {
            "node": "캘린더 예약 등록",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "예약"
    },
    {
      "name": "알림톡"
    }
  ],
  "pinData": {}
}
